*.gz
*.synctex*
*~
*.log
*.aux
*.aex
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.toc
*.out
*.idx
*.ilg
*.ind
*.loa
*.lof
*.lot
*.lol
*.maf
*.mtc*
*.nlo
*.nls
*.pyg
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.slg
*.slo
*.sls

PhD_thesis__Edouard_Leurent.pdf

# Folders
#*.git/
_minted-PhD_thesis__Edouard_Leurent/
.ipynb_checkpoints/
