*.gz
*.synctex*
*.pdf
*~
*.log
*.aux
*.aex
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.toc
*.out
*.idx
*.ilg
*.ind
*.loa
*.lof
*.lot
*.lol
*.maf
*.mtc*
*.nlo
*.nls
*.pyg

# Folders
#*.git/
_minted-PhD_thesis__Edouard_Leurent/
.ipynb_checkpoints/
